html
  head
    title Shark

    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet' type='text/css' href='css/application.css')

  body(ng-app='shark')
    ng-include(src="'views/header.html'")

    div(ng-controller='ProxiesCtrl')
      .container(ng-if='!selected')
        .row(ng-controller='AddProxyCtrl')
          .col-md-8.col-md-offset-2
            .jumbotron
              h1 Add a Subdomain

              form(role='form' ng-submit='add()')
                .form-group
                  label.control-label(for='url') Target URL
                  input.form-control(name='url' type='url' required ng-model='newProxy.url' autofocus)

                .form-group
                  label.control-label(for='alias') Incoming Subdomain
                  input.form-control(name='alias' type='text' required ng-model='newProxy.alias')

                button.btn.btn-lg.btn-block.btn-primary
                  span.glyphicon.glyphicon-plus-sign
                  | &nbsp;
                  | Add

      .container-fluid(ng-if='selected' ng-controller='TracesCtrl')
        .row(ng-show='pausedTraces.length > 0')
          .col-md-12
            p
              | Paused. {{pausedTraces.length}} new traces added.

        .row(ng-if='traces.length == 0')
          .col-md-12
            p No traces found.

        .row(ng-repeat='trace in traces')
          .col-md-12
            span.code.badge(ng-bind='trace.response.code')
            span.verb(ng-bind='trace.request.method')
            span.url(ng-bind='trace.request.url')

    script(src='lib/jquery/dist/jquery.js')
    script(src='lib/bootstrap-sass/dist/js/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(src='lib/angular/angular.min.js')
    script(src='lib/angular-socket-io/socket.min.js')
    script(src='js/application.js')
