html
  head
    title Shark

    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet' type='text/css' href='css/application.css')

  body(ng-app='shark')
    ng-include(src="'views/header.html'")

    ng-view

    script(src='lib/jquery/dist/jquery.js')
    script(src='lib/bootstrap-sass/dist/js/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(src='lib/angular/angular.min.js')
    script(src='lib/angular-route/angular-route.min.js')
    script(src='lib/angular-socket-io/socket.min.js')
    script(src='js/application.js')
