.container-fluid
  .row(ng-show='pausedTraces.length > 0')
    .col-md-12
      .alert.alert-warning
        b Paused.
        | &nbsp;{{pausedTraces.length}} new traces added.&nbsp;
        a View >

  .row(ng-if='traces.length == 0')
    .col-md-12
      .alert.alert-info
        p <b>Nothing to show.</b> Try issuing a <code>curl http://{{proxy.alias}}.{{host}}/some-path</code>

  .row(ng-repeat='trace in traces')
    .col-md-12
      span.code.badge(ng-bind='trace.response.code')
      span.verb(ng-bind='trace.request.method')
      span.url(ng-bind='trace.request.url')
