.container-fluid#traces
  .row(ng-show='pausedTraces.length > 0')
    .col-md-12
      .alert.alert-warning
        b Paused.
        | &nbsp;{{pausedTraces.length}} new traces added.&nbsp;
        a View >

  .row(ng-if='traces.length == 0')
    .col-md-12
      .alert.alert-info
        p <b>Nothing to show.</b> Try issuing a <code>curl http://{{proxy.alias}}.{{host}}/some-path</code>

  .row.trace(ng-repeat='trace in traces' class="{{statusClass(trace)}}")
    .col-md-12
      .pull-right
        span.glyphicon.glyphicon-chevron-down
      span.verb(ng-bind='trace.request.method')
      | &nbsp;
      span.url(ng-bind='trace.request.url')
      | &nbsp;
      span.code(ng-bind='trace.response.code')

      hr
