#proxies.container
  .row
    .col-md-12
      .page-header
        .pull-right
          a(href="/dash/#/proxies/add")
            span.glyphicon.glyphicon-plus
            | &nbsp;
            | Add Subdomain

        h1 Proxies

  .row.proxy(ng-repeat="(id, proxy) in proxies")
    .col-md-12
      .well
        h2
          | http://
          b(ng-bind='proxy.alias')
          | .{{host}}
        p
          span.glyphicon.glyphicon-arrow-right
          | &nbsp;{{proxy.url}}

        .actions.pull-right
          a.select(ng-click='select(proxy)' ng-if='selected != proxy || paused' title='Start tracing')
            span.glyphicon.glyphicon-play

          a.select(ng-click='pause()' ng-if='selected == proxy && !paused' title='Pause tracing')
            span.glyphicon.glyphicon-pause

          a.remove(ng-click='remove(proxy)' title='Remove')
            span.glyphicon.glyphicon-remove

          a.edit(ng-href="/dash/#/proxies/update/{{proxy._id}}" title='Edit')
            span.glyphicon.glyphicon-cog
