#proxies.container
  .row
    .col-md-12
      .pull-right
        a(href="/dash/#/proxies/add")
          span.glyphicon.glyphicon-plus
          | &nbsp;
          | Add Subdomain

      h1 Proxies

  .row.proxy(ng-repeat="(id, proxy) in proxies")
    .col-md-12
      .well
        h2(ng-bind='proxy.alias')
        p(ng-bind='proxy.url')

        .actions.pull-right
          a.select(ng-click='select(proxy)' title='Start tracing')
            span.glyphicon.glyphicon-play

          a.remove(ng-click='remove(proxy)' title='Remove')
            span.glyphicon.glyphicon-remove

          a.edit(ng-href="/dash/#/proxies/edit/{{proxy.id}}" title='Edit')
            span.glyphicon.glyphicon-cog
